*{
    box-sizing: border-box;
}

:root{
    --light-header-color: #bdabc2;
    --dark-header-color: #3c4a69;
    --light-background-color: #e6dfe8;
    --light-gray: #d1d1d1;
}

body{
    font-family: 'Telegu MN', 'EB Garamond', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-background-color);
}

header{
    background: linear-gradient(var(--light-header-color), var(--light-background-color));
    color: var(--dark-header-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35em 2em;
    /*border-bottom: 5px solid #00000011;*/
    /*box-shadow: 0 2px 10px var(--light-header-color);*/
}

#header-title{
    margin: 0;
    font-weight: 100;
}

html{
    padding: 0;
}

.time{
    font-size: clamp(2rem, 6vw, 15rem);
    margin: 0;
}

#clock-container{
    width: 35vw;
    margin: 3vh auto;
    box-shadow: 0 0 10px var(--dark-header-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1/1;
}

#hr-n-min{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 100%;
}

h2{
    margin: 0;
}

#time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-header-color);
}

.time{
    font-size: clamp(1rem, 10vw, 20rem);
    line-height: 0.7;
    color: var(--dark-header-color);
}

#am-pm-container{
    font-size: clamp(1rem, 8vw, 20rem);
    margin: 0;
    padding: 0;
}

footer{
    color: var(--light-gray);
    margin-top: auto;
    text-align: center;
}

#seconds-bar{
    width: 1px;
    border: 3px solid var(--dark-header-color);
    margin-top: 4vh;
    transition: width 0.1s;
}